<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/seasoning_style.css') }}">
  <link href="{{ url_for('static',filename='stylesheets/pretty-checkbox.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="shortcut icon" href="/static/icon.png" type="image/x-icon">
  <title>ANNOY For A Better Listening</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
    integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
    crossorigin="anonymous"></script>
</head>

<body>
  <div class="wrapper">
    <header>
      <div class="logo">
        <h1> YoutuBot </h1>
      </div>
    </header>
    <nav>
        <div id="#nav">
            <div>
                <a class="link" routerLink="/request" *ngIf="isLoggedIn">Discover</a>
                <a class="link" routerLink="/" *ngIf="isLoggedIn">Home</a>
            </div>
        </div>
    </nav>
  </div>
</body>