<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>YoutuBot</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/seasoning_style.css') }}">
    <link rel="shortcut icon" href="/static/youtube.png" type="image/x-icon">
</head>

<body>
    <div class="chatbot-container">
        <div class="chatbot-header">
            <div class="logo">
                <img src="../static/youtube.png" alt="Your Logo">
                <h1> YoutuBot </h1>
            </div>
        </div>
        <div class="chatbot-messages">
            <div class="chatbot-message">
                <p>Hello, I am YoutuBot. How can I help you ?</p>
            </div>
        
            <form method="post" action="/chat" id="chat-form">
                <div class="user-message">
                    <input type="text" name="user_input" id="user-input" placeholder="Type your message here">
                    <button type="submit" class="user-send-button">Send</button>
                </div>
            </form>
        </div>
    </div>
    </div>
    <script>
        // Get the form element
        const form = document.getElementById('chat-form');

        // Add an event listener to the form submission
        form.addEventListener('submit', (event) => {
            // Prevent the default form submission behavior
            event.preventDefault();

            // Get the user input from the form
            const userInput = document.getElementById('user-input').value;
            console.log(userInput)
            // Send an AJAX request to the /chat endpoint with the user input
            fetch('/chat', {
                method: 'POST',
                body: JSON.stringify({ user_input: userInput }),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    // Update the messages on the page
                    const chatbotMessages = document.querySelector('.chatbot-messages');
                    for (let d of data) {
                        const message = d.text;
                        const sender = d.sender;
                        chatbotMessages.insertAdjacentHTML('afterbegin', `
            <div class="${sender}-message">
                <p>${message}</p>
            </div>
        `);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });

            // Clear the user input
            document.getElementById('user-input').value = '';
        });
    </script>
</body>

</html>