<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>YoutuBot</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='stylesheets/seasoning_style.css') }}">
    <link rel="shortcut icon" href="/static/youtube.png" type="image/x-icon">

</head>
<body>
    <div class="chatbot-container">
        <div class="chatbot-header">
            <h1>YoutuBot</h1>
        </div>
        <div class="chatbot-messages">
            <div class="chatbot-message">
                <p>Hello, I am YoutuBot.</p>
            </div>
            <div class="chatbot-message">
                <p>You should try these songs:</p>
                <ul>
                    {% for title in recommends %}
                    <li>{{ title }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="chatbot-input">
                <form method="post" action="/">
                    <select name="music_request" id="music" multiple>
                        {% for key,value in musics.items() %}
                        <option value="{{key}}">{{ value }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Discover">
                </form>
            </div>
        </div>
    </div>
</body>
</html>
